@import "tailwindcss";

@font-face {
  font-family: Hafs;
  src: url("assets/fonts/uthmanic_hafs_v20.ttf") format("truetype"),
    url("assets/fonts/uthmanic_hafs_v20-webfont.woff") format("woff"),
    url("assets/fonts/uthmanic_hafs_v20-webfont.woff2") format("woff2");
}

* {
  color: white;
}

Link {
  text-decoration: none;
}

.t {
  background-color: #fe4641;
  width: fit-content;
  margin-top: 20px;
  margin-right: 10px;
  padding: 4px 6px 4px 6px;
  font-size: 19px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.t svg {
  vertical-align: middle;
  margin-left: 3px;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
}

.hafs {
  font-family: "Hafs";
}

.hrSurah {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

.ayahNumber {
  margin: 10px;
  font-size: 1.7em;
}

.QuranText {
  display: inline;
  padding-left: 10px;
}

.pageNum {
    font-family:  'ui-serif','Georgia','Cambria','Times New Roman','Times','serif';
    font-size: 2em;
    margin-top: 0.6em;
    text-align: center;
}